
     {% if current_user.is_admin %}
<div class="pusher">
        <div class="chat-box">
    <div class="container my-4">
        <table class="table table-striped table-bordered grid sortable" border="1" id="table1">
                <caption class="text-center" style="border: inherit; background-color: black;caption-side: top; color:white;">Library 1</caption>

            <thead class="thead-dark" style="background-color: #23272b">
                <tr>
                    <th style="color:white">Song Title</th>
                    <th style="color:white" >Artist</th>
                    <th style="color:white" >User Count</th>

                </tr>
            </thead>
            <tbody>
                {% for t in table1 %}
                <tr>
                    <td >

                        {{ t[0] }}</td>
                    <td >{{ t[1] }}</td>
                    <td >{{ t[2] }}</td>


                {% else %}
                <td colspan="9" align="center" id="createnosong">No data so far</td>

                {% endfor %}
            </tr>
            </tbody>
        </table>

    <table class="table table-striped table-bordered grid sortable" border="1" id="table2">
                <caption class="text-center" style="border: inherit; background-color: black;caption-side: top; color:white;">Library 2</caption>

            <thead class="thead-dark" style="background-color: #23272b">
                <tr>

                    <th style="color:white" >Artist</th>
                    <th style="color:white" >User Count</th>

                </tr>
            </thead>
            <tbody>
                {% for t in table2 %}
                <tr>
                    <td >

                        {{ t[0] }}</td>
                    <td >{{ t[1] }}</td>



                {% else %}
                <td colspan="9" align="center" id="createnosong">No data so far</td>

                {% endfor %}
            </tr>
            </tbody>
    </div>
        </div>
</div>

     {% else %}
<div class="pusher">
        <div class="chat-box">
    <div class="container my-4">
        <table class="table table-striped table-bordered grid" border="1" id="userlibrary">
                <caption class="text-center" style="border: inherit; background-color: black;caption-side: top; color:white;">Your Music Library</caption>
            <thead class="thead-dark" style="background-color: #23272b">
                <tr>
                    <th style="color:white">Name</th>
                    <th style="color:white">Artist</th>
                    <th style="color:white">Create Time</th>
                    <th style="color:white">Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                <tr>
                    <td >

                        {{ song[0] }}</td>
                    <td>{{ song[1] }}</td>
                    <td>{{ song[2] }}</td>

                    <td><div class="item delete-song-button"
                         data-href="{{ url_for('song.deleteroom', song_id=song[3]) }}">
                        <i class="delete icon"></i>
            </div></td>
                    {% else %}
            <td colspan="7" align="center">No rooms so far</td>
                {% endfor %}
            </tbody>
        </table>
    </div>

        </div>
</div>

{% endif %}







